/.ipynb_checkpoints
/Graphs for Misc Examples/.ipynb_checkpoints
/Graphs for Misc Examples/.ipynb_checkpoints
/__pycache__
/GLM - DDC v Sample Elasticity - Sec 4.2/.ipynb_checkpoints
/Effective Sample Sizes - Sec 4.3/.ipynb_checkpoints
/OLS Example Cases - Sec 4.1/.ipynb_checkpoints
/OLS Example Cases - Sec 4.1/old
