/.ipynb_checkpoints
/Graphs for Misc Examples/.ipynb_checkpoints
/__pycache__
/Section 4.2 - GLMs - DDC v Sample Elasticity/.ipynb_checkpoints
/Section 4.1 - OLS Example Cases/.ipynb_checkpoints
/Section 4.1 - OLS Example Cases/old
/Other
/Section 4.3 - Effective Sample Sizes/.ipynb_checkpoints
/Section 4.3 - Effective Sample Sizes/old
/checking
/Utils/.ipynb_checkpoints
/Utils/__pycache__
/Section 4-Copy1.2 - GLMs - Data Defect Correlation vs Realized Efficiency
/Section 4.2 - GLMs - Data Defect Correlation vs Realized Efficiency/.ipynb_checkpoints
/Other Figures/Sec 2.2 - OLS - Data Defect Correlation vs Realized Efficiency/.ipynb_checkpoints
/Other Figures/Sec 4.2 - GLM - Plotting the Observed Fisher Information and Derivatives/.ipynb_checkpoints
/Other Figures/Sec 3.1 - OLS Decomposition - 3D Graph/.ipynb_checkpoints
